@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("nickname", "Pseudo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("nickname", new { htmlAttributes = new { @class = "form-control", type = "text" } })
                @Html.ValidationMessage("nickname", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("password", "Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("password", new { htmlAttributes = new { @class = "form-control", type = "password" } })
                @Html.ValidationMessage("password", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}
