@model Cartefact.Models.Car

@{
    ViewBag.Title = "Car Details";
}

<h2>
    Car Details
    <span class="pull-right">
        @Html.ActionLink("Edit the car", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary", role = "button" })
        @Html.ActionLink("Back to the Profil", "Index", new { }, new { @class = "btn btn-default", role = "button" })
    </span>
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kilometers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kilometers)
        </dd>

    </dl>
</div>
