@model Cartefact.Models.Person

@{
    ViewBag.Title = "Profil";
}

<h2>
    Profil
    @Html.ActionLink("Edit your Profil", "Edit", null, new { @class = "btn btn-primary pull-right", role = "button" })
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrivingHabits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrivingHabits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverExperience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </dt>

        <dd>
            @if (Model.Role.RoleName == "Admin")
            {
                <span class="label label-primary">Staff</span>
            }
            else if(Model.Role.RoleName == "Trusted")
            {
                <span class="label label-success">Trusted</span>
            }
            else
            {
                <span class="label label-default">Regular</span>
            }
        </dd>

        <hr />

        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center">
                    <div class="thumbnail">
                        <h4>Peugeot <small>207</small></h4>
                        <p>
                            <button type="button" class="btn btn-default btn-xs">Noir</button>
                            <button type="button" class="btn btn-default btn-xs">2006</button>
                            <button type="button" class="btn btn-default btn-xs">175 000 km</button>
                        </p>
                        <p>
                            Jolie Voiture
                        </p>
                        <p>
                            <strong>Location : </strong><em>Loire</em>
                            <strong>Status : </strong><em>Open</em>
                        </p>
                    </div>
                </div>

                <div class="col-md-3 text-center">
                    <div class="thumbnail">
                        <p>
                            @Html.ActionLink("Add a car", "AddCar", null, new { @class = "btn btn-primary", role = "button" })
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </dl>
</div>